<% Category.all.each do | cat | %>
    <div class="post-category">
      <h3 class="head"><%= cat.name %></h3>
      <% if cat.posts.count === 0 %>
          <p>Posts is empty</p>
      <% else %>
        <% cat.posts.limit(4).each do |post| %>
          <% if post.status == 1 %>  
            <div class="posts-details grid">
                <div class="post-1">
                  <div class="post-detail-content">
                    <h3 class="name" ><%= link_to post.name.first(40), post %></h3>
                    <h4 class="category"><span>in</span> <%= link_to post.category.name, category_path(post.category.id) %></h4>
                    <p class="content"><%= raw post.content.first(80) %>...</p>
                    
                  </div>
                </div>
            </div>
          <% end %>
        <% end %>
    <% end %>
    </div>
  <% end %>