
<label>Select Category </label>
<%= collection_select( :post, :category_id, Category.all, :id, :name, prompt: true, :selected=> params[:category_id] ) %>

<div class="show-post-details">
	<% @posts.each do |post| %>
		<p><%= post.name %></p>
	<% end %>

	<%= will_paginate @posts %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	    $('#post_category_id').change(function() {   
	        //var selectCategory = $("#post_category_id").find('option:selected').val();
	        var selectCategory = $("select[id$=post_category_id]").val();
	        load_data(selectCategory);
	    });

	    function load_data(id) {  
	    	//var value = $(this).val()
	        $.ajax({
		        url: "<%= madmin_posts_path(:html) %>",
		        type: "GET",
		        data: {"category_id" : id},
		        dataType: "html",
		        success: function(data) {
		            $(".show-post-details").html(data);
		        },
	        });
	    };
	})
</script>