
<header class="container-fluid">
	<div class="col-md-4">
		<h1><%= link_to 'MBlog', madmin_dashboard_index_path %></h1>
	</div>

	<div class="col-md-8">
		<h3><%= session[:user_name] %></h3>
		<%= link_to 'Logout', session_path(session), method: :delete %>
	</div>
</header>