
.hk-posts-wrap {
	text-align: center;

	.hk-posts-body {
		.hk-posts-content {
			p {
				position: relative;

				&:before, &:after {
					font-family: FontAwesome;
					color: #ccc;
					font-size: 15px;
				}

				&:before {
					content: "\f10d";
					padding-right: 15px;
				}

				&:after {
					content: "\f10e";
					padding-left: 15px;
				}
			}
		}
	}
}

.hk-posts-sider-nav {
	border: 2px solid blue;
	height: 100px;
	.slick-list {
		height: 100%;
		//padding: 0 80px !important;
		.slick-track {
			height: 100%;
		    .slick-slide {
		    	height: 100%;
				width: 233px !important;
		        &.slick-current  {
		            border: 2px solid red;
		        }
		    }
		}
	}
}