<div class="slideshow container-fluid">
  <div class="col-md-4 slideshow-detail">
    
  </div>
  
  <div class="col-md-8 slideshow-detail">
    <div class="hk-slick-wrap">
    <div class="hk-posts-default">
        <div class="hk-posts-wrap">
            <% Post.all.limit(10).order('created_at DESC').each do | post | %>
                <div>
                    <div class="hk-posts-body">
                        <div class="hk-posts-info">
                            <h3 class="hk-posts-title"><%= post.name %></h3>
                        </div>
                        <div class="hk-posts-content">
                            <!-- <i class="fa fa-quote-left"></i> -->
                            <%= raw post.content.first(100) %>
                            <!-- <i class="fa fa-quote-right"></i> -->
                        </div>
                        <div class="hk-posts-line"><span></span></div>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="hk-posts-sider-nav">
            <% Post.all.limit(10).order('created_at DESC').each do | post | %>
                <div>
                  <p><%= post.name %></p>
                </div>
            <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>


      